<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>SmartSpend - Login</title>-->
<!--</head>-->

<!--<body>-->

<!--<h1>SmartSpend</h1>-->
<!--<h2>Please Sign In</h2>-->

<!--<form action="/login" method="post">-->

<!--    <div>-->
<!--        <label>Username:</label>-->
<!--        <input type="text" name="username" required>-->
<!--    </div>-->

<!--    <br>-->

<!--    <div>-->
<!--        <label>Password:</label>-->
<!--        <input type="password" name="password" required>-->
<!--    </div>-->

<!--    <br>-->

<!--    <button type="submit">Sign In</button>-->

<!--</form>-->

<!--</body>-->
<!--</html>-->